<a href="https://colab.research.google.com/github/LuziaAm/Python/blob/main/AulaPython_Parte3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Declaração
def converter_de_celsius_para_fahrenheit(celsius):
  F = (9 * celsius / 5) + 32
  print(f"{celsius}ºC = {F}ºF")

# Execução
converter_de_celsius_para_fahrenheit(0)

# Declaração
def converter_de_fahrenheit_para_celsius(fahrenheit):
  C = 5 * (fahrenheit - 32) / 9
  print(f"{fahrenheit}ºF = {C}ºC")

# Execução
converter_de_fahrenheit_para_celsius(32)

# Deixando o usuário escolher o que quer fazer

escolha_usuario = input("Você quer converter para qual escala? ('C' para Celsius ou 'F' para Fahrenheit)\n")

if escolha_usuario == "C":
  escala = "F"
elif escolha_usuario == "F":
  escala = "C"

temperatura = float(input(f"Digite o valor da temperatura, em º{escala}:"))

# print(escolha_usuario, type(escolha_usuario))
# print(temperatura, type(temperatura))

if escolha_usuario == "C":
  # print("Usuário escolheu Celsius")
  # print("Converter usando a temperatura:", temperatura)
  converter_de_fahrenheit_para_celsius(temperatura) # Temperatura entra como argumento
elif escolha_usuario == "F":
  # print("Usuário escolheu Fahrenheit")
  # print("Converter usando a temperatura:", temperatura)
  converter_de_celsius_para_fahrenheit(temperatura) # Temperatura entra como argumento

0ºC = 32.0ºF
32ºF = 0.0ºC
Você quer converter para qual escala? ('C' para Celsius ou 'F' para Fahrenheit)
F
Digite o valor da temperatura, em ºC:32
32.0ºC = 89.6ºF

In [ ]:
# Deixando o usuário escolher o que quer fazer

escolha_usuario = input("Você quer converter para qual escala? ('C' para Celsius ou 'F' para Fahrenheit)\n")

if escolha_usuario == "C":
  escala = "F"
elif escolha_usuario == "F":
  escala = "C"

temperatura = float(input(f"Digite o valor da temperatura, em º{escala}:"))

# print(escolha_usuario, type(escolha_usuario))
# print(temperatura, type(temperatura))

if escolha_usuario == "C":
  # print("Usuário escolheu Celsius")
  # print("Converter usando a temperatura:", temperatura)
  converter_de_fahrenheit_para_celsius(temperatura) # Temperatura entra como argumento
elif escolha_usuario == "F":
  # print("Usuário escolheu Fahrenheit")
  # print("Converter usando a temperatura:", temperatura)
  converter_de_celsius_para_fahrenheit(temperatura) # Temperatura entra como argumento

In [7]:
def teste(a, b): # Parâmetro, que será o argumento recebido
  print("Teste foi chamado", a, b)

teste(10, 20) # Argumento, que corresponde ao valor

Teste foi chamado 10 20

In [8]:

def soma(a, b):
  # print(f"{a} + {b} = {a + b}")

  return a + b

print(5, type(5))
print(10, type(10))
print("soma(5, 10)", soma(5, 10), type(soma(5, 10)))

resultado_soma1 = soma(5, 10)
print("resultado_soma1", resultado_soma1, type(resultado_soma1))

resultado_soma2 = soma(10, 20)
print("resultado_soma2", resultado_soma2, type(resultado_soma2))

resultado_final = soma(resultado_soma1, resultado_soma2)
print("resultado_final", resultado_final)

5 <class 'int'>
10 <class 'int'>
soma(5, 10) 15 <class 'int'>
resultado_soma1 15 <class 'int'>
resultado_soma2 30 <class 'int'>
resultado_final 45

In [10]:
def calculadora(a, b):
  return a + b

def monitor(informacao):
  print(informacao)

def enviar_para_impressora(informacao):
  print("Print Page A4:", informacao)

def programa():
  resultado = calculcadora(10, 20)
  enviar_para_monitor(resultado)

  enviar_para_impressora(resultado)

calculadora(2,3)

5

In [11]:
#Lista
# Lista

#         Valores da lista
numeros = [5, 9, 10, 20, 40, 80, 120, 300, 500, 900, 1000]
# Índices [0, 1,  2,  3,  4,  5,   6]

print(numeros, type(numeros))

primeiro_numero = numeros[0]
print("Primeiro número:", primeiro_numero, type(primeiro_numero))

quantidade_numeros = len(numeros)
print("Quantidade de números:", quantidade_numeros, type(quantidade_numeros))

ultimo_indice = quantidade_numeros - 1
ultimo_numero = numeros[ultimo_indice]
print("Último número:", ultimo_numero, type(ultimo_numero))

[5, 9, 10, 20, 40, 80, 120, 300, 500, 900, 1000] <class 'list'>
Primeiro número: 5 <class 'int'>
Quantidade de números: 11 <class 'int'>
Último número: 1000 <class 'int'>

In [12]:
# Abreviando a maneira de pegar o último número

numeros = [5, 9, 10, 20]
#         [0, 1,  2,  3]

ultimo_numero = numeros[len(numeros) - 1]
print("Último número:", ultimo_numero)

# Podemos também remover o len() e deixar apenas o '-1' que o Python faz pra gente
ultimo_numero = numeros[-1]
print("Último número:", ultimo_numero)

Último número: 20
Último número: 20

In [14]:
# Mudando os valores de uma lista

numeros = [5, 9, 10, 20]

print("Primeiro número:", numeros[0], numeros)
print("Último número:", numeros[-1], numeros)

numeros[0] = 90

print("Primeiro número alterado:", numeros[0], numeros)

numeros[-1] = 15

print("Último número alterado:", numeros[-1], numeros)

Primeiro número: 5 [5, 9, 10, 20]
Último número: 20 [5, 9, 10, 20]
Primeiro número alterado: 90 [90, 9, 10, 20]
Último número alterado: 15 [90, 9, 10, 15]

In [21]:
numeros = [1, 11, 44, 67, 8, 9, 4]
indice = int(input("Digite um índice: "))

numeros[indice] = 90

print(numeros)

Digite um índice: 1
[1, 90, 44, 67, 8, 9, 4]

In [17]:

# Listas vazias

lista = []

print(lista, len(lista), type(lista))

[] 0 <class 'list'>

In [18]:
numeros = [12]

print(numeros, len(numeros), type(numeros))

[12] 1 <class 'list'>

In [19]:
# Adicionando elementos na lista

numeros = []

print(numeros, len(numeros), type(numeros))

numeros.append(10)
numeros.append(80)
numeros.append(7)
numeros.append(12)
numeros.append(19)
numeros.insert(0, 999)

print(numeros, len(numeros), type(numeros))

[] 0 <class 'list'>
[999, 10, 80, 7, 12, 19] 6 <class 'list'>

In [20]:
numeros = [7, 6, 1]

numeros.insert(3, 99)

print(numeros, len(numeros), type(numeros))

[7, 6, 1, 99] 4 <class 'list'>

In [22]:
# Ordenando uma lista

numeros = [9, 3, 4, 77, 1, 6, 5, 300, 20]

numeros.sort(reverse=True)

print(numeros)

[300, 77, 20, 9, 6, 5, 4, 3, 1]

In [25]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

numeros = [10, 90, 40, 30, 20, 50]

for numero in numeros:
  print(numero)

10
90
40
30
20
50

In [26]:
# Visualizando todos os itens de uma lista
# Declaração: 'for'

# for valor in lista:
#   Executo uma vez para cada valor.
#   Em cada execução, a variável 'valor' possui uma informação diferente
# Exemplo: Numa lista com [4, 12, 6]
# Se tivermos: for valor in lista:
# Temos na 'primeira' execução do for a informação '4' para a variável 'valor'
# Temos na 'segunda' execução do for a informação '12' para a variável 'valor'
# Temos na 'terceira' execução do for a informação '6' para a variável 'valor'

numeros = [10, 90, 40, 30, 20, 50]
numeros_em_dobro = []

for numero in numeros:
  # print("Início do for:", numero, numeros, numeros_em_dobro)
  numeros_em_dobro.append(numero * 2)
  print("Execução do for para o número:", f"{numero} * 2 = {numero * 2}", numeros_em_dobro)
  # print()

print(numeros)
print(numeros_em_dobro)

Execução do for para o número: 10 * 2 = 20 [20]
Execução do for para o número: 90 * 2 = 180 [20, 180]
Execução do for para o número: 40 * 2 = 80 [20, 180, 80]
Execução do for para o número: 30 * 2 = 60 [20, 180, 80, 60]
Execução do for para o número: 20 * 2 = 40 [20, 180, 80, 60, 40]
Execução do for para o número: 50 * 2 = 100 [20, 180, 80, 60, 40, 100]
[10, 90, 40, 30, 20, 50]
[20, 180, 80, 60, 40, 100]

In [28]:
#Lista com indice

numeros = [9, 6, 3, 5]

#For indexado

for indice in range(len(numeros)):
  numero = numeros[indice]
  print("Indice", indice, "temos o valo: ",numero)

Indice 0 temos o valo:  9
Indice 1 temos o valo:  6
Indice 2 temos o valo:  3
Indice 3 temos o valo:  5

In [29]:

numeros = [9, 4, 3, 7, 5]
# For indexado, em que temos acesso ao índice de cada valor

for indice in range(len(numeros)):
  numero = numeros[indice]
  print("Índice", indice, "temos o valor", numero)

  if indice == 2:
    break

Índice 0 temos o valor 9
Índice 1 temos o valor 4
Índice 2 temos o valor 3

In [30]:
numeros = [7, 3, 9]
indice = 1
print(numeros[indice])

3

In [31]:
# Introduzindo um pouco do enumerate, explicaremos a seguir...

numeros = [9, 12, 4, 7, 3]

enum = enumerate(numeros)
lista = list(enum)

print(lista)

[(0, 9), (1, 12), (2, 4), (3, 7), (4, 3)]

In [46]:

# Tuplas -> Parecem muito com as listas

tupla = (1, 5, 9, 7, 6)

print(tupla, type(tupla))

(1, 5, 9, 7, 6) <class 'tuple'>

In [45]:
# Acessando elementos das tuplas

numeros = (9, 7, 6, 3, 4, 65)

primeiro_numero = numeros[0]

print(primeiro_numero, type(primeiro_numero))

9 <class 'int'>

In [43]:
numeros = 9, 7, 6, 3, 4, 65

print(numeros)

(9, 7, 6, 3, 4, 65)

In [42]:

numeros = 5,7

print(numeros, type(numeros))

(5, 7) <class 'tuple'>

In [41]:
numeros = 5,
print(numeros, type(numeros))

(5,) <class 'tuple'>

In [39]:
tupla = ("Paulo", "Salvatore")

print(tupla, type(tupla))

nome = tupla[0]
sobrenome = tupla[1]

print(nome, type(nome))
print(sobrenome, type(sobrenome))

('Paulo', 'Salvatore') <class 'tuple'>
Paulo <class 'str'>
Salvatore <class 'str'>

In [40]:
# Desconstrução de tuplas

nome, sobrenome = ("Paulo", "Salvatore")

print(nome, type(nome))
print(sobrenome, type(sobrenome))

Paulo <class 'str'>
Salvatore <class 'str'>

In [38]:
numeros = [30, 6, 1, 9, 6]

enum = enumerate(numeros)

lista = list(enum)

# Transformo o enum em lista apenas para exibí-lo no print
print(lista, type(lista))

print(lista[0], type(lista[0]))

indice, valor = lista[0]

print(indice, valor, type(indice), type(valor))

[(0, 30), (1, 6), (2, 1), (3, 9), (4, 6)] <class 'list'>
(0, 30) <class 'tuple'>
0 30 <class 'int'> <class 'int'>

In [37]:
numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print(indice, valor)

0 9
1 6
2 7
3 9
4 2
5 4
6 3

In [36]:
tupla = (5, 6, 9, 7, 3)

print(tupla, type(tupla))

# Transforma qualquer coisa em lista (desde que seja um tipo suportado)
lista = list(tupla)

lista[0] = 9

print(lista)

tupla = tuple(lista)

print(tupla)

(5, 6, 9, 7, 3) <class 'tuple'>
[9, 6, 9, 7, 3]
(9, 6, 9, 7, 3)

In [35]:
numeros = [9, 6, 7, 8]

enum = enumerate(numeros)

lista = list(enum)

primeiro_item_enum = lista[0]

print(lista)

[(0, 9), (1, 6), (2, 7), (3, 8)]

In [34]:
numeros = [9, 6, 7, 9, 2, 4, 3]

for indice, valor in enumerate(numeros):
  print(indice, valor)

0 9
1 6
2 7
3 9
4 2
5 4
6 3

In [33]:
tupla = 5, 6, 7, 6, 1, 9, 5, 2, 7, 3, 6

print(sum(tupla))

57

In [47]:
"""
From Rafael Bianco to Everyone:  04:17 PM
professor se a lista for em string, como fazermos para clássicas em ordem alfabética?
"""

nomes = ["Rafael", "Paulo", "Marina", "Mariana", "Gabriel", "Juliano"]

nomes.sort(reverse=True)

print(nomes)

['Rafael', 'Paulo', 'Marina', 'Mariana', 'Juliano', 'Gabriel']

In [48]:
"""
From Andrea Davi Carrer to Everyone:  04:01 PM
e se eu quiser que ele incremente de 2 em 2?
"""

numeros = [10, 9, 6, 4, 7, 6, 6, 4, 1, 3, 9]

for indice in range(0, len(numeros), 2):
  print(indice)

0
2
4
6
8
10

In [49]:
"""
From Guilherme Alarsa to Everyone:  03:47 PM
e uma lista que tivesse um input pro usuário colocar os valores?
"""

numeros = []

print("Digite 3 números...")

for indice in range(3):
  numero = int(input("Digite um número: "))
  numeros.append(numero)

print("Os números digitados foram:", numeros)

Digite 3 números...
Digite um número: 5
Digite um número: 6
Digite um número: 7
Os números digitados foram: [5, 6, 7]

In [ ]:
# Dicionários
# Quase iguais as listas
# A única diferença é que podemos/devemos definir os índices

# Enquanto a lista atribui índices sequenciais de maneira automática,
# os dicionários precisam desse índice definido

dicionario = {"nome": "Paulo", "sobrenome": "Salvatore"}

print(dicionario, type(dicionario))

nome = dicionario["nome"]
print(nome, type(nome))

sobrenome = dicionario["sobrenome"]
print(sobrenome, type(sobrenome))

In [50]:
paulo = {
    "nome": "Paulo",
    "sobrenome": "Salvatore",
}

caio = {
    "nome": "Caio",
    "sobrenome": "Felintro",
}

renato = {
    "nome": "Renato",
    "sobrenome": "Fonseca",
}

pessoas = [paulo, caio, renato]

for pessoa in pessoas:
  nome = pessoa["nome"]
  sobrenome = pessoa["sobrenome"]

  print(nome, sobrenome)

# print(paulo["nome"], paulo["sobrenome"])
# print(caio["nome"], caio["sobrenome"]

Paulo Salvatore
Caio Felintro
Renato Fonseca

Exercícios para praticar
https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio14.py

https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio16.py

https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio19.py

https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio23.py

https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio25.py

Exercício bem completo
https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio15.py

Exercício boss
https://github.com/paulosalvatore/ExerciciosPython/blob/master/exercicios/exercicio26.py