<a href="https://colab.research.google.com/github/LuziaAm/Python/blob/LuziaAm%2Fgitpod-setup/primeiroPassosPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [ ]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )
   ...: 

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [ ]:
##df2.<TAB>  # noqa: E225, E999
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.columns
df2.align              df2.copy
df2.all                df2.count
df2.any                df2.combine
df2.append             df2.D
df2.apply              df2.describe
df2.applymap           df2.diff
df2.B                  df2.duplicated

SyntaxError: ignored

In [ ]:
df = pd.DataFrame({'Aluno' : ["Luzia", "Abbie", "Harry", "Julia", "Carrie"],
                   'Faltas' : [3,4,2,1,4],
                   'Prova' : [2,7,5,10,6],
                   'Seminário': [8.5,7.5,9.0,7.5,8.0]})
df

    Aluno  Faltas  Prova  Seminário
0   Luzia       3      2        8.5
1   Abbie       4      7        7.5
2   Harry       2      5        9.0
3   Julia       1     10        7.5
4  Carrie       4      6        8.0

In [ ]:
dates = pd.date_range("20210101", periods=6)

dates

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2021-01-01 -0.198790  0.599407  0.652133  0.542408
2021-01-02 -0.003839  1.214504 -0.610201  0.040855
2021-01-03 -0.211710 -0.445601 -0.599949  1.387780
2021-01-04  1.114239 -1.073496 -0.759942 -0.086227
2021-01-05  2.409993 -2.077750 -1.037890 -0.242985
2021-01-06  0.111223 -0.494999 -1.025259  2.052722

In [ ]:
df.head(3)

                   A         B         C         D
2021-01-01 -0.198790  0.599407  0.652133  0.542408
2021-01-02 -0.003839  1.214504 -0.610201  0.040855
2021-01-03 -0.211710 -0.445601 -0.599949  1.387780

In [ ]:
df.tail(3)

                   A         B         C         D
2021-01-04  1.114239 -1.073496 -0.759942 -0.086227
2021-01-05  2.409993 -2.077750 -1.037890 -0.242985
2021-01-06  0.111223 -0.494999 -1.025259  2.052722

In [ ]:
df.index

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
np.exp(df)

                    A         B         C         D
2021-01-01   0.819722  1.821039  1.919630  1.720143
2021-01-02   0.996169  3.368623  0.543242  1.041701
2021-01-03   0.809199  0.640439  0.548840  4.005947
2021-01-04   3.047248  0.341812  0.467694  0.917386
2021-01-05  11.133880  0.125212  0.354201  0.784283
2021-01-06   1.117645  0.609572  0.358704  7.789073

In [ ]:
df.to_numpy()

array([[-0.1987897 ,  0.59940728,  0.6521326 ,  0.54240761],
       [-0.00383875,  1.21450412, -0.61020129,  0.04085526],
       [-0.21171027, -0.44560105, -0.59994912,  1.38778004],
       [ 1.11423894, -1.07349551, -0.75994184, -0.08622744],
       [ 2.40999272, -2.07774985, -1.03789012, -0.24298548],
       [ 0.11122347, -0.49499888, -1.02525871,  2.05272191]])

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.536853 -0.379656 -0.563518  0.615759
std    1.040870  1.173243  0.625800  0.919456
min   -0.211710 -2.077750 -1.037890 -0.242985
25%   -0.150052 -0.928871 -0.958929 -0.054457
50%    0.053692 -0.470300 -0.685072  0.291631
75%    0.863485  0.338155 -0.602512  1.176437
max    2.409993  1.214504  0.652133  2.052722

In [ ]:
df.T #Ordenou por indice

   2021-01-01  2021-01-02  2021-01-03  2021-01-04  2021-01-05  2021-01-06
A   -0.198790   -0.003839   -0.211710    1.114239    2.409993    0.111223
B    0.599407    1.214504   -0.445601   -1.073496   -2.077750   -0.494999
C    0.652133   -0.610201   -0.599949   -0.759942   -1.037890   -1.025259
D    0.542408    0.040855    1.387780   -0.086227   -0.242985    2.052722

In [ ]:
#Sorting by an axis:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-01-01  0.542408  0.652133  0.599407 -0.198790
2021-01-02  0.040855 -0.610201  1.214504 -0.003839
2021-01-03  1.387780 -0.599949 -0.445601 -0.211710
2021-01-04 -0.086227 -0.759942 -1.073496  1.114239
2021-01-05 -0.242985 -1.037890 -2.077750  2.409993
2021-01-06  2.052722 -1.025259 -0.494999  0.111223

In [ ]:
#Sorting by values:
df.sort_values(by="B")

                   A         B         C         D
2021-01-05  2.409993 -2.077750 -1.037890 -0.242985
2021-01-04  1.114239 -1.073496 -0.759942 -0.086227
2021-01-06  0.111223 -0.494999 -1.025259  2.052722
2021-01-03 -0.211710 -0.445601 -0.599949  1.387780
2021-01-01 -0.198790  0.599407  0.652133  0.542408
2021-01-02 -0.003839  1.214504 -0.610201  0.040855